// Specific CSS for your home-page
table #minesweeper {
  margin: auto;
  margin-top: 3em;
  border: 1px solid #999;
  border-collapse: collapse;
}
table #minesweeper td {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.banner {
  padding: 0 10px;
  width: 500px;
  font-family: 'Poppins';
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
}

td.unopened {
  background: url('unopened.svg');
  cursor: pointer;
}
td.opened {
  background: url('opened.svg');
}
td.flagged {
  background: url('flag.svg');
}
td.question {
  background: url('question.svg');
}
td.mine {
  background: url('mine.png');
}
td.mine-neighbour-1 {
  text-align: center;
  font-size: 2rem;
  color: #0000FF;
  font-weight: 800;
}
td.mine-neighbour-2 {
  text-align: center;
  font-size: 2rem;
  color: #008200;
  font-weight: 800;
}
td.mine-neighbour-3 {
  text-align: center;
  font-size: 2rem;
  color: #FF0000;
  font-weight: 800;
}
td.mine-neighbour-4 {
  text-align: center;
  font-size: 2rem;
  color: #000084;
  font-weight: 800;
}
td.mine-neighbour-5 {
  text-align: center;
  font-size: 2rem;
  color: #840000;
  font-weight: 800;
}
td.mine-neighbour-6 {
  text-align: center;
  font-size: 2rem;
  color: #008284;
  font-weight: 800;
}
td.mine-neighbour-7 {
  text-align: center;
  font-size: 2rem;
  color: #840084;
  font-weight: 800;
}
td.mine-neighbour-8 {
  text-align: center;
  font-size: 2rem;
  color: #757575;
  font-weight: 800;
}

@media (max-width: 762px) {
  table #minesweeper td {
    width: 32px;
    height: 32px;
  }
  .banner {
    width: 320px;
  }
}

