// Specific CSS for your home-page
body {
  background-color: var(--gray-dark);
  color: white;
}

table #minesweeper {
  margin: auto;
  margin-top: 3em;
  border: 1px solid #999;
  border-collapse: collapse;
}

table {
  margin: 20px 0 150px 0;
}

table #minesweeper td {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 762px) {
  table #minesweeper td {
    width: 32px;
    height: 32px;
  }
  .banner {
    width: 320px;
  }
  .controls input {
    display: block;
    margin: 20px;
    position: relative;
    left: -20px;
  }
}

@media (max-width: 562px) {
  table #minesweeper td {
    width: 24px;
    height: 24px;
  }
  .banner {
    width: 320px;
    h1 {
      text-align: center;
    }
  }
  .controls input {
    display: block;
    margin: 20px;
    position: relative;
    left: -20px;
  }

  .buttons {
    display: flex;
  }

  .controls {
    display: flex;
    flex-direction: column;
  }

  td.mine-neighbour-1, td.mine-neighbour-2, td.mine-neighbour-3,
  td.mine-neighbour-4, td.mine-neighbour-5, td.mine-neighbour-6,
  td.mine-neighbour-7, td.mine-neighbour-8 {
    font-size: 1rem;
  }
}

