// Specific CSS for your home-page
body {
  background-color: var(--gray-dark);
  color: white;
}

table #minesweeper {
  margin: auto;
  margin-top: 3em;
  border: 1px solid #999;
  border-collapse: collapse;
}

table {
  margin-bottom: 150px;
}

table #minesweeper td {
  width: 50px;
  height: 50px;
  background-size: cover;
  border: 1px solid black;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.banner {
  padding: 0 10px;
  width: 500px;
  font-family: 'Poppins';
  h1 {
    font-size: 50px;
    margin-bottom: 20px;
  }
  p {
    text-align: center;
  }
}

.controls {
  display: inline-flex;
  div {
    padding: 10px;
    margin: 10px;
    h3 {
      text-align: center;
      background-color: lightslategrey;
      padding: 5px;
      border-radius: 3px;
    }
  }
}

.btn {
  font-size: 24px;
  padding: 8px 15px;
  border-radius: 4px;
  margin: auto 50px;
}

td.unopened {
  background: url('https://res.cloudinary.com/dqu728tid/image/upload/v1621361218/unopened.svg');
  cursor: pointer;
}
td.opened {
  background: url('https://res.cloudinary.com/dqu728tid/image/upload/v1621361218/opened.svg');
}
td.flagged {
  background: url('https://res.cloudinary.com/dqu728tid/image/upload/v1621361218/flag.svg');
}
td.question {
  background: url('https://res.cloudinary.com/dqu728tid/image/upload/v1621361218/question.svg');
}
td.mine {
  background: url('https://res.cloudinary.com/dqu728tid/image/upload/v1621361219/mine.png');
}
td.mine-neighbour-1 {
  text-align: center;
  font-size: 2rem;
  color: #0000FF;
  font-weight: 800;
}
td.mine-neighbour-2 {
  text-align: center;
  font-size: 2rem;
  color: #008200;
  font-weight: 800;
}
td.mine-neighbour-3 {
  text-align: center;
  font-size: 2rem;
  color: #FF0000;
  font-weight: 800;
}
td.mine-neighbour-4 {
  text-align: center;
  font-size: 2rem;
  color: #000084;
  font-weight: 800;
}
td.mine-neighbour-5 {
  text-align: center;
  font-size: 2rem;
  color: #840000;
  font-weight: 800;
}
td.mine-neighbour-6 {
  text-align: center;
  font-size: 2rem;
  color: #008284;
  font-weight: 800;
}
td.mine-neighbour-7 {
  text-align: center;
  font-size: 2rem;
  color: #840084;
  font-weight: 800;
}
td.mine-neighbour-8 {
  text-align: center;
  font-size: 2rem;
  color: #757575;
  font-weight: 800;
}

@media (max-width: 762px) {
  table #minesweeper td {
    width: 32px;
    height: 32px;
  }
  .banner {
    width: 320px;
  }
  .controls input {
    display: block;
    margin: 20px;
    position: relative;
    left: -20px;
  }
}

@media (max-width: 562px) {
  table #minesweeper td {
    width: 24px;
    height: 24px;
  }
  .banner {
    width: 320px;
    h1 {
      text-align: center;
    }
  }
  .controls input {
    display: block;
    margin: 20px;
    position: relative;
    left: -20px;
  }

  .buttons {
    display: flex;
  }

  .controls {
    display: flex;
    flex-direction: column;
  }
  td.mine-neighbour-1, td.mine-neighbour-2, td.mine-neighbour-3,
  td.mine-neighbour-4, td.mine-neighbour-5, td.mine-neighbour-6,
  td.mine-neighbour-7, td.mine-neighbour-8 {
    font-size: 1rem;
  }
}

