<div class="footer-basic">
  <footer class="footer">
   <div class="social">
    <a href="https://www.linkedin.com/in/james-wordie/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/JamesWordie/rails-minesweeper"><i class="fab fa-github-square"></i></a>
    <a href="https://www.instagram.com/jameswordie/"><i class="fab fa-instagram"></i></a>
  </div>
  <p class="fw-light text-black-50" >This website was made by James Wordie.</p>
</footer>
</div>
