<div class="container">
  <div class="banner">
    <h1>Classic Minesweeper</h1>
      <p>Left-Cpck to select a square.</p>
      <p>Right-Cpck to place a flag, marking a mine.</p>
      <p>The number in the grid represents the quantity of adjacent mines.</p>
      <p>If you land on a mind its gameover!</p>
      <p>Or if you win, then congrats!</p>
  </div>
  <table>
    <tbody id="minesweeper">

    </tbody>
  </table>
</div>
