<div class="container">
  <div class="banner">
    <h1>Classic Minesweeper</h1>
      <p>Left-Click to select a square.</p>
      <p>Right-Click to place a flag, marking a mine.</p>
      <p>The grid number represents the number of adjacent mines.</p>
      <p>If you land on a mind its gameover!</p>
      <p>Or if you win, then congrats!</p>
  </div>
  <table>
    <tbody id="minesweeper">

    </tbody>
  </table>
</div>
