<div class="container">
  <div class="banner">
    <h1>Classic Minesweeper</h1>
      <p>Left-Click to select a square.</p>
      <p>Right-Click to place a flag, marking a mine.</p>
      <p>The grid number represents the number of adjacent mines.</p>
      <p>If you land on a mind its gameover!</p>
      <p>Or if you win, then congrats!</p>
  </div>
  <div class="buttons">
    <button name="start">Start</button>
    <button name="reset">Reset</button>
  </div>
  <!-- <div class="score">Local Storage Scores Go Here</div> -->
  <div class="controls">
    <label for="grid_size">Grid Size (10-30):</label>
    <input id="grid_size" type="range" name="grid_size" min="10" max="30" value="10">

    <label for="mine_frequency">Mine Frequency (0.1-0.9):</label>
    <input id="mine_frequency" type="range" name="mine_frequency" min="1" max="9" value="1.5">
  </div>
  <table>
    <tbody id="minesweeper">
      <!-- table inserted here via javascript -->
    </tbody>
  </table>
</div>
